
<div class="container">
  {{!-- item list --}}
  <div class="row mt-2">
    <div class="col-3"></div>
    {{!-- Rank 表 --}}
    <div class="col-9">
      <div class="row mt-2 mx-auto">
        {{!-- 排頭 --}}
        <ul class="list-group fw-bold">
          <li class="row">
              <div class="col-8 list-group-item list-group-item-dark">
                <div class="row">
                  <div class="col-2 text-center">Rank</div>
                  <div class="col-4 ">Player Name</div>
                  <div class="col-4 text-center">Score</div>
                  <div class="col-2 text-center">Times</div>
                </div>
              </div>
            </li>
        </ul>
        {{!-- 內容 --}}
        <ul class="list-group fw-bold">
          {{#each playerDataRank}}
            <li class="row">
              <div class="col-8 list-group-item list-group-item-light">
                {{!-- rank number --}}
                <div class="row">
                  <div class="col-2 text-center">{{ this.rank }}</div>
                  {{!-- player name --}}
                  <div class="col-4 ">{{ this.playerName }}</div>
                  {{!-- score --}}
                  <div class="col-4 text-center">{{ this.score }}</div>
                  {{!-- game times --}}
                  <div class="col-2 text-center">{{ this.gameTimes }}</div>
                </div>
              </div>
            </li>
          {{/each}}
        </ul>
      </div>
    </div>

      
  </div>
  {{!-- search  --}}
  <div class="row mt-3">
    <div class="col-6 mx-auto">
      <div class="row fw-bold">
        <div class="input-group mb-3">
          <input type="text" class="form-control" placeholder="Player name" aria-label="Player name" aria-describedby="basic-addon2">
          <span class="input-group-text" id="basic-addon2">Search Player</span>
        </div>
      </div> 
    </div>
  </div>

  {{!-- create item --}}
  {{!-- 等到做完會員認證之後再回來顯示 --}}
  {{!-- <div class="row mt-5">
    <a href="/records/new" type="button" class="btn btn-warning col-4 mx-auto fs-3 fw-bold">新增支出</a>
  </div> --}}
</div>
