<div class="row mt-3">
  <div class="col-6 mx-auto">
    <div class="card">
      <div class="card-body">
        <h1 class="text-center fw-bold">Login</h1>
        {{> message}}
        <form action="/users/login" method="POST" class="fs-4">
          <div class="mb-3">
            <label for="playerName" class="form-label">Player Name：</label>
            <input type="text" class="form-control" name="playerName" id="playerName" placeholder="your player name">
          </div>
          <div class="mb-3">
            <label for="password" class="form-label">User Password：</label>
            <input type="password" class="form-control" name="password" id="password" placeholder="your password here">
          </div>
          <button type="submit" class="btn btn-warning col-12 my-3 fs-4">Login</button>
        </form>
        <p class="mt-2">Have An Account? <a href="/users/register">Register</a></p>
      </div>
    </div>
  </div>
</div>