<div class="container">
  <div class="row">
    <div class="col-8 mx-auto">Participating Player List
      {{#each cleanParticipatingPlayerArray}}
        <div class="card mt-4">
          {{this}}
        </div>
      {{/each}}
    </div>
  </div>
</div>